body {
  margin: 0;
  /***********************************h1*****************************/
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 350%;
  position: absolute;
  left: 127.9875px;
  top: 370px;
}

/***********************************p********************************/
p {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;
  position: absolute;
  left: 223.09px;
  top: 500px
}

/**************************topcontainer***************************/
.top-container {
  background-color: #5534A5;
}

/****************************moon*********************************/
.moon {
  width: 509.600px;
  height: 720.825px;
  position: absolute;
  left: 500px;
  top: 0;
}

/*********************middlecontainer*******************************/
.middle-container {
  position: fixed;
  bottom: 0;
}

/*********************aboutme******************************/
.aboutme {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
}

/***********************button**************************************/
.button {
  background-color: #151D3B;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0;
  cursor: pointer;
}

/********************topblock****************************/
.topblock {
  display: inline-block;
  background-color: #151D3B;
  height: 69.025px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.twitterbutton {
  border: none;
  padding: 20.0125px 30px;
  display: inline-block;
  cursor: pointer;
}

.twitter {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 140px;
}

.instabutton {
  display: inline-block;
  padding: 20.0125px 30px;
  position: fixed;
  top: 0;
  right: 30px;
}

.instagram {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 55px;
}
