body {
  margin: 0;
  text-align: center;
  /***********************************h1*****************************/
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  color: #22577E;
  font-family: 'Sacramento', cursive;
  font-size: 350%;
  position: absolute;
  top: 40%;
  left: 45%;
}

/***********************************p********************************/
p {
  margin-top: 0;
  margin-bottom: 0;
  color: #22577E;
  display: inline-block;
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 50%;
  left: 45%;
}
.sky{
  display: inline-block;
  width: 100%;
}
.earth{
  dispay: inline-block;
  width: 100%;
}

/**************************topcontainer***************************/
.top-container {
  background-color: #85F4FF;
}

/*********************middlecontainer*******************************/
.middle-container {
  position: fixed;
  bottom: 0;
}

/*********************aboutme******************************/
.aboutme {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
}

/***********************button**************************************/
.button {
  background-color: #1572A1;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0;
  cursor: pointer;
}

/********************topblock****************************/
.topblock {
  display: inline-block;
  background-color: #1572A1;
  height: 69.025px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.twitterbutton {
  border: none;
  padding: 20.0125px 30px;
  display: inline-block;
  cursor: pointer;
}

.twitter {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 140px;
}

.instabutton {
  display: inline-block;
  padding: 20.0125px 30px;
  position: fixed;
  top: 0;
  right: 30px;
}

.instagram {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 55px;
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
